a {
  text-decoration: none !important;
}

@media(min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.map-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px;
}

.footer {
  margin-top: -3rem;
}